h1{
  color:blue;
  margin-top:2px;
}
img{
  border:dashed;
  margin-bottom:7px;
  margin-top:5px;
}
.works{
  width:476px;
  border:solid;
  padding:5px;
}
.btn{
  background-color:#ADFF2F;
  margin-top:0px;
  margin-bottom:0px;
  font-size:20px;
  color:#000000;
}
.btn:hover{
  background-color:#32CD32;
  font-size:21px;
}
body{
  padding-top:50px;
}
a:hover~img{
  margin-bottom:5px;
}
