h1{
  color:blue;
}
a{
  text-decoration:none;
  color:#00FF00;
  font-size:20px;
}
a:hover{
  color:#32CD32;
  font-size:15px;
}
img{
  border:dashed;
  margin-bottom:5px;
}
div{
  width:476px;
  border:solid;
  padding:5px;
}
p{
  margin-top:0px;
  margin-bottom:0px;
}
