h1{
  color:blue;
}
img{
  border:dashed;
  margin-bottom:5px;
}
div{
  width:476px;
  border:solid;
  padding:5px;
}
.btn{
  background-color:#ADFF2F;
  margin-top:0px;
  margin-bottom:0px;
  font-size:20px;
}
.btn:hover{
  background-color:#32CD32;
  font-size:21px;
}
.btn:hover + div{
  padding-bottom:3;
}
